.home {
    overflow: hidden;
    top     : 0;
    bottom  : 0;
    position: absolute;

    .home_media {
        object-fit: cover;
        width     : 100%;
        height    : auto;
    }
}

.mob {
    width   : 100%;
    height  : 100vh;
    overflow: hidden;
    position: absolute;
    top     : 0;
    display : none;

    .mob-media {
        object-fit: cover;
        width     : 100%;
        height    : 100vh;
    }
}

@media(max-width: 1108px) {
    .home {
        display: none;
    }

    .mob {
        display: block;
    }
}