.link {
    text-decoration: none !important;
}

.link_copyright {
    text-decoration: none !important;
    transition     : all 0.3s ease-in-out;

    &:hover {
        color: black;
    }
}

.footer_link {
    display        : flex;
    justify-content: center;
    gap            : 8px;
    padding-bottom : 16px;
}

.email_address {
    display       : flex;
    align-items   : center;
    gap           : 16px;
    transition    : all 0.3s ease-in-out;
    padding-bottom: 16px;

    .email_btn {
        background-color: rgb(39, 40, 41);
        height          : 32px;
        border-radius   : 2px;

        &:hover {
            background-color: black;
        }
    }
}