.login_navbar {
    display: flex;

    span {
        padding: 0 10px;
    }
}

.login {
    overflow: hidden;
    padding : 24px;
    width   : 480px;

    .btn_close {
        position    : absolute;
        display     : none;
        right       : 0;
        margin-right: 12px;
    }

    .signup_instruction {
        width      : 45%;
        font-weight: 500;
        font-size  : 16px;
    }

    .form_title {
        display        : flex;
        justify-content: center;
        font-size      : 24px;
        font-weight    : 600;
        padding        : 0;
    }

    .btn_submit {
        margin-top   : 16px;
        margin-bottom: 8px;
        border-radius: 4px;
        line-height  : 32px;
        font-weight  : 500;
        font-size    : 12px;

    }

    .login_google_text {
        display        : flex;
        justify-content: center;
        font-size      : 14px;
        margin-bottom  : 8px;
        color          : rgb(174, 172, 172);
    }
}

.login_social .btn_social {
    font-size       : 12px;
    font-weight     : 500;
    background-color: white;
    color           : #333333;
    padding         : 8px;
    border          : 1px solid rgb(174, 172, 172);
    margin-bottom   : 16px;

    &:hover {
        background-color: rgb(174, 172, 172);
    }

    .icon_social {
        width       : 16px;
        height      : 16px;
        margin-right: 8px;
    }
}

@media(max-width: 600px) {
    #transition-modal-title {
        font-size: 14px;
    }

    #transition-modal-description {
        font-size: 12px;
    }

    .drawer {
        width: 100%;

        .btn-close-desk {
            display: none;
        }

        .logo {
            .logo_media_mob {
                max-width: 88px;
                height   : 0 auto;
            }
        }
    }

    .login_social {

        .btn_social {
            font-size: 12px;

            .icon_social {
                width       : 16px;
                height      : 16px;
                margin-right: 8px;
            }
        }
    }

    .login {
        width: 100%;

        .btn_close {
            display: block;
        }

        .login_form_title {
            margin   : 0;
            font-size: x-large;
        }

        .login_form_content {
            margin-top: 8px;
            font-size : 14px;
        }

        .signup_instruction {
            font-size: 12px;
        }

        .checkbox_email {
            font-size: 14px;
        }

        .btn_submit {
            margin-top   : 12px;
            margin-bottom: 12px;
        }

        .link_suggest {
            font-size: 12px;
        }
    }
}